# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# Виртуальное окружение
venv/
.venv/
env/
.env/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Кэш OSMnx
cache/
osmnx_cache/

# Файлы операционных систем
.DS_Store
Thumbs.db

# Логи
*.log

# Артефакты сборки и экспорта
output/
*.html
*.pdf
*.png
*.svg
